.header-container {
    height: 50px;
    width: 100%;
    border: none;
    border-bottom: 2px solid grey;
    background-color: rgb(129, 190, 247);
}

.header-container>iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.search-container {
    height: 25px;
    width: 100%;
    justify-items: center;
    position: absolute;
    top: 25px;
}

.search-form {
    width: 250px;
    display: flex;
    justify-content: center;
}

.result-container {
    width: 200px;
    border: 1px solid grey;
    background-color: white;
    position: absolute;
}

.result-container>.result-item {
    display: block;
    text-decoration: none;
    padding-left: 3px;
}

.viewer-container {
    display: flex;
    height: calc(100% - 50px);
}

.viewer-container>iframe:nth-child(1) {
    width: 23%;
    height: 100%;
    border: none;
    border-right: 2px solid grey;
}

.viewer-container>iframe:nth-child(2) {
    width: 77%;
    height: 100%;
    border: none;
}